extends layout

block content
  .section.confirm
    .container
      h1 お申し込み内容確認
      ul
        li
          .head お名前
          .body #{dataObject.username}
        li
          .head メールアドレス
          .body #{dataObject.email}
        li
          .head デザイン
          .body #{dataObject.itemname}
        li
          .body.image
            img.responsive-img(src=`${dataObject.imgPath}`)
  .section.form-content
    .container
      form(action="/submit" method="post")
        input(type="hidden" name="itemid" value=`${dataObject.itemId}`)
        input(type="hidden" name="username" value=`${dataObject.username}`)
        input(type="hidden" name="email" value=`${dataObject.email}`)
        .ui-component-block.btn.clearfix
          .btn-holder
            a.ui-component(href=`/detail/${dataObject.itemId}`) 修正
          .btn-holder
            button.ui-component(type="submit") 送信
