extends layout

block content
  .section.detail
    .container
      h1 #{item.itemname}
      .image
        img.responsive-img(src=`${item.imgPath}`)
  .section.form-content
    .container
      h1 お申し込みフォーム
      form(action="/confirm" method="post")
        input(type="hidden" name="itemid" value=`${item.itemId}`)
        input(type="hidden" name="itemname" value=`${item.itemname}`)
        input(type="hidden" name="image" value=`${item.imgPath}`)
        .ui-component-block.name
          label.ui-component(for="username") お名前
          input.ui-component(type="text" name="username" id="username")
        .ui-component-block.email
          label.ui-component(for="email") メールアドレス
          input.ui-component(type="email" name="email" id="email")
        .ui-component-block.btn.clearfix
          .btn-holder
            a.ui-component(href="/") 戻る
          .btn-holder
            button.ui-component(type="submit") 確認
