extends layout

block content
  .section.detail
    .container
      .image
        img.responsive-img(src=`${item.imgPath}`)
  .section.form-content
    .container
      h1 お申し込みフォーム
      form(action="/confirm" method="post")
        input(type="hidden" name="itemid" value=`${item.itemId}`)
        input(type="hidden" name="image" value=`${item.imgPath}`)
        .ui-component-block.name
          label.ui-component(for="username") お名前
          input.ui-component(type="text" name="username" id="username")
        .ui-component-block.email
          label.ui-component(for="email") メールアドレス
          input.ui-component(type="email" name="email" id="email")
        .ui-component-block.sex
          label.ui-component(for="sex") 性別
          select.ui-component(name="sex" id="sex")
            option(value="男性") 男性
            option(value="女性") 女性
        .ui-component-block.year
          label.ui-component(for="year") 学年
          select.ui-component(name="year" id="yaar")
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
        .ui-component-block.college
          label.ui-component(for="college") 学部
          select.ui-component(name="college" id="college")
            each college in colleges
              option(value=`${college.name}`) #{college.name}
        .ui-component-block.department
          label.ui-component(for="department") 学科
          select.ui-component(name="department" id="department")
            each department in departments
              option(value=`${department.name}`) #{department.name}
        .ui-component-block.club
          label.ui-component(for="club") 部活・サークル等 （任意）
          input.ui-component(type="text" name="club" id="club")
        .ui-component-block.btn.clearfix
          .btn-holder
            a.ui-component(href="/") 戻る
          .btn-holder
            button.ui-component(type="submit") 確認
